<div class="col-12 col-md-6 p-0">
  <div class="card mb-4">
    <div class="card-body">
      <%= preference_field(@integration, form, 'wsdl_url', i18n_scope: 'admin.integrations.elta_courier') %>
      <%= preference_field(@integration, form, 'customer_code', i18n_scope: 'admin.integrations.elta_courier') %>
      <%= preference_field(@integration, form, 'user_code', i18n_scope: 'admin.integrations.elta_courier') %>
      <%= preference_field(@integration, form, 'password', i18n_scope: 'admin.integrations.elta_courier') %>

      <div class="form-group">
        <%= form.spree_select :preferred_paper_size, options_for_select([['A4', '0'], ['A6', '1']], @integration.preferred_paper_size), label: Spree.t('admin.integrations.elta_courier.paper_size') %>
      </div>
    </div>
  </div>
</div>
